body{
    margin: 0px;
}
header{
    width: 100%;
    left: 0px;
    top: 0px;
    background: #502221;
    margin-bottom: 0px;
    padding: 0px;
}
#contact-us{
    display: flex; 
    justify-content: right;
    color: #fff;
    margin-top: 0px;
    padding-top: 0px;
}
#contact-us a{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    margin-left: 3px;
    margin-right: 20px;
}
#contact-us a:hover{
    color: #2e6e34;
    text-decoration: underline;
}
#logo{
    font-family: 'Qwigley';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 0px;
    color: #215025;
    margin-top: -50px;
    margin-left: 20px;
    padding-top: 0px;
}
#logo h4, #footer-logo h4{
    font-family: 'QuickSand';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-top: -30px;
}
#logo:hover, #footer-logo:hover{
    color: #2e6e34;
    transform: scale(1.1);
}
.fa-caret-down{
    color: #215025;
    font-size: 20px;
    margin-left: 10px;
}

nav>ul>li{
    display: inline-block;
    padding: 6px 0px 6px 0px;
    margin: 10px;
    background: #FBF6F8;
    color: #215025;
    font-family: 'QuickSand';
    font-size: 20px;
    font-weight: 400;
    list-style: none;
    border-radius: 8px;
}
nav>ul>li>a{
    text-decoration: none;
    color: #215025;
    padding: 6px 50px 6px 50px;
    margin: 0px;
    border-radius: 8px;
}
.categories-list a{
    text-decoration: none;
    color: #215025; 
}
.categories-list{
    display: none;
    position: absolute;
    background: #FBF6F8;
    padding: 0em 1em 0em 0.5em;
    border-radius: 0px 0px 8px 8px;
    margin:0.5em 0em 0em 1.48em;
}
.categories-list li{
    list-style: none;
    font-family: 'QuickSand';
    font-size: 18px;
    font-weight: 400;
    margin: 0.5em 0em 0em 1em;
}
/* nav>ul>li:hover, #login>ul>li:hover,nav>ul>li>a:hover{
    background: #215025;
} */
nav>ul>li>a:hover, #login>ul>li>a:hover, .fa-caret-down:hover, .categories-list a:hover{
    color: #FBF6F8;
    background: #215025;
}
#login a{
    text-decoration: none;
    color: #215025;
    padding: 6px 30px 6px 30px;
    margin: 0px;
    border-radius: 8px;
}
#login a:hover{
    color: #FBF6F8;
}
#login>ul>li{
    display: inline-block;
    padding: 6px 0px 6px 0px;
    margin: 10px;
    background: #FBF6F8;
    color: #215025;
    font-family: 'QuickSand';
    font-size: 20px;
    font-weight: 400;
    list-style: none;
    border-radius: 8px;
}
#header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0px;
}
#search{
    display: flex;
    justify-content: right;
    margin-top: 0px;
    padding-top: 0px;
}
#search input{
    width: 300px;
    height: 30px;
    border: 1px solid #215025;
    padding: 0px 10px 0px 10px;
}
#search button{
    width: 35px;
    height: 30px;
    padding: 0px 10px 0px 10px;
    border: 1px solid #215025;
    background: #215025;
    color: #FBF6F8;
    margin-left: -5px;
} 
#books-background{
    background-position: center center;
    background-image: url('/assets/images/jaredd-craig-HH4WBGNyltc-unsplash\ \(4\).jpg');
    background-color: aquamarine;
    height: 20em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    filter: contrast(130%);

}
#books-background h1{
width: 100%;
font-family: 'Qwigley';
font-style: normal;
font-weight: 400;
font-size: 5em;
line-height: 100px;
color: #FBF6F8;
text-align: center;
}

#books-background h1:hover{
    transform: scale(1.1);
    color: #215025
}

main{
    margin: auto;
    width: 80%;
    height:auto;
}
.category h1, .upload-book h1{
font-family: 'Quicksand';
font-weight: 700;
font-size: 45px;
color: #215025;
text-align: left;
}
.category h1:hover, .upload-book h1:hover{
    /* transform: scale(1.1); */
    color: #2e6e34;
    text-decoration-line: underline;
}
.books-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.book-card img{
    width: 16em;
    height: 22em;
    margin: 10px;
    border-radius: 10px 10px 0px 0px;
    padding-left: 0px;
    margin-left: 0px;
}
.book-card{
    width: 16em;
    height: 30em;
    background: #FBF6F8;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.17);
    padding-bottom: 1.3em;
    margin: 0.5em;
}
.book-card h3{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    color:#212121;
    margin: -10px 0px 0px 0px;
}
.book-card h4{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: #6A6969;
    margin: 5px 0px 15px 0px;
}
.book-card:hover{
    transform: scale(1.1);
}
.book-detail {
    padding: 10px 16px;
}

.wishlist-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.fa-heart {
    color:#f0350b;
    cursor: pointer
}

.fa-heart-o {
    cursor: pointer;
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: normal;
    /* color: #f0350b; */
}

.hide{
    display: none;
    font-size: 12px;
    font-family: 'Inter';
}
.hide1{
    display: none;
    font-size: 12px;
    font-family: 'Inter';
}

.fa-heart-o:hover + .hide {
    display: block;
    opacity: 0.5;
    margin-right: 10em;
    margin-top: 0em;
    
}
.more{
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 20px;
    color: #215025;
    text-align: right;
}
.more p{
    cursor: pointer;
}
.more:hover{
    text-decoration-line: underline;
}
.details-card>form{
    display: block;
    background: #FBF6F8;
    box-shadow: 9px 11px 33px 3px rgba(0, 0, 0, 0.15);
    padding-bottom: 3em;
}
.book-details-columns{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    padding: 1em 0em 1em 0em;
}

.book-details{
    /* position: relative; */
    display: block;
    padding: 1em 1em 1em 1em;
    margin:1em;
}
.book-details-columns input{
    display: block;
    padding-top: 1em;
    width: 30em;
    height: 2.5em;
    border-radius: 0.5em;
    margin-left: 0.5em;
    margin-top: 1em;
    border: 1px solid #101010;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
}
.book-details-columns label{
    padding-bottom: 1em;
    margin-bottom: 2em;
    font-family: 'QuickSand';
    font-weight: 500;
}
input::file-selector-button {
    display: none;
  }

.details-card>form>button{
    display: block;
    width: 10em;
    height: 2.5em;
    border-radius: 0.5em;
    margin-left: 0.5em;
    font-family: 'QuickSand';
    font-weight: 700;
    font-size: 15px;
    align-content: center;
    margin-left: 2.5em;
    background: #FFFFFF;
    border: 1px solid #101010;
}
.details-card>form>button:hover{
    background: #215025;
    color: #FBF6F8;
}

footer{
    width: 100%;
    left: 0px;
    top: 0px;
    background: #502221;
    margin-bottom: 0px;
    margin-top: 3em;
}
#footer-logo{
    font-family: 'Qwigley';
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 0px;
    color: #215025;
    text-align: left;
    margin-left: -4em;
}

.footer{
    display: flex;
    justify-content: space-evenly;
    padding: 1em 1em 1em 1em;
}
#links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 5em;
}
.footer h3{
    font-family: 'QuickSand';
    font-weight: 700;
    font-size: 20px;
    color: #FBF6F8;
    margin: 1em 1em 0em 1em;
}
.footer li{
    list-style: none;
    font-family: 'QuickSand';
    font-weight: 550;
    font-size: 15px;
    color: #FBF6F8;
    margin: 1em 1em 1em 0em;
    padding: 0em;
}
.footer a{
    text-decoration: none;
    color: #FBF6F8;
}
.footer a:hover{
    color: #2e6e34;
}
.follow-us li{
    display: inline-block;
}
footer h6{
    font-family: 'QuickSand';
    font-weight: 550;
    font-size: 15px;
    color: #FBF6F8;
    margin: 1em 1em 0em 1em;
    text-align: center
}












